@import "./vars";

#miner {
	width: 300px;
}

.miner-wrap {
	width: auto;
    height: auto;
    background-color: rgb(221, 221, 221);
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
	padding: 15px;
}

.miner-header {
    height: 50px;
	width: auto;
    height: auto;
    padding: 5px 0;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 4px solid grey;
    border-left: 4px solid grey;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.miner-header__btn {
    width: 45px;
    height: 20px;
	text-align: center;
	font-size: 0.875rem;
}

.miner-header__btn:hover {
    cursor: pointer;
}

.miner-body {
	position: relative;
	width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border-top: 4px solid grey;
    border-left: 4px solid grey;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #c9c9c9;
		position: absolute;
		bottom: 0;
		z-index: 1;
	}
	&:before {
		content: '';
		width: 1px;
		height: 100%;
		background-color: rgb(201, 201, 201);
		position: absolute;
		right: 0;
		z-index: 1;
	}
}

.miner-cell {
	position: relative;
	z-index: 2;
    font-size: 0.875rem;
    color: blue;
    width: 25px;
    height: 25px;
    background-image: url('/src/img/closed.svg');
	background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

.miner-cell--flag {
    background-image: url('/src/img/flag.svg') !important;
    background-size: contain;
    background-color: rgb(233, 232, 232);
}

.miner-cell--free-cur,
.miner-cell--free {
    background-image: none;
    border-left: 1px solid rgb(201, 201, 201);
	border-top: 1px solid rgb(201, 201, 201);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:hover {
		cursor: default !important;
	}
}

.miner-cell--error-main {
	background-image: url('/src/img/mine_red.svg') !important;
    background-size: contain;
}

.miner-cell--error {
	background-image: url('/src/img/mine.svg');
    background-size: contain;
	border-left: 1px solid rgb(201, 201, 201);
	border-top: 1px solid rgb(201, 201, 201);
}

.miner-cell:hover {
    cursor: pointer;
}